body{
  font-family: 'Montserrat', sans-serif;
}

.test{
  background-color: grey;
  border: 1px solid black;
  width: auto;
  height: 100px;

}

.main-container{
  max-width: 1000px ;
  margin-top: 40px;
}

.logo{
  width: 30px;
}